In [27]:
import pandas as pd

In [28]:
df = pd.read_excel('../data/월평균_임금.xlsx')

c:\DEV\Lang\python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [29]:
df.columns

Index(['행정구역별(1)', '항목', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [30]:
df = pd.melt(df,id_vars=['행정구역별(1)', '항목'],value_vars=['2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021'],var_name='년도',value_name='소득')

In [31]:
df.drop(columns='항목',inplace=True)
df

    행정구역별(1)    년도       소득
0         전국  2011  2487339
1      서울특별시  2011  2921496
2      부산광역시  2011  2356022
3      대구광역시  2011  2165156
4      인천광역시  2011  2410840
..       ...   ...      ...
193     전라북도  2021  3082279
194     전라남도  2021  3352080
195     경상북도  2021  3452111
196     경상남도  2021  3399502
197  제주특별자치도  2021  2906566

[198 rows x 3 columns]

In [32]:
df.rename(columns={'행정구역별(1)':'행정구역'},inplace=True)
df

        행정구역    년도       소득
0         전국  2011  2487339
1      서울특별시  2011  2921496
2      부산광역시  2011  2356022
3      대구광역시  2011  2165156
4      인천광역시  2011  2410840
..       ...   ...      ...
193     전라북도  2021  3082279
194     전라남도  2021  3352080
195     경상북도  2021  3452111
196     경상남도  2021  3399502
197  제주특별자치도  2021  2906566

[198 rows x 3 columns]

In [35]:
# pd.to_numeric(df['소득'],errors='coerce')
df.소득 = df.소득.replace(['-'],0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    198 non-null    object
 1   년도      198 non-null    object
 2   소득      198 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [36]:
df[df.행정구역=='세종특별자치시']

        행정구역    년도       소득
8    세종특별자치시  2011        0
26   세종특별자치시  2012        0
44   세종특별자치시  2013        0
62   세종특별자치시  2014        0
80   세종특별자치시  2015        0
98   세종특별자치시  2016        0
116  세종특별자치시  2017        0
134  세종특별자치시  2018        0
152  세종특별자치시  2019        0
170  세종특별자치시  2020  3423078
188  세종특별자치시  2021  3530820

In [38]:
df.소득 = df.소득.astype(int)

In [43]:
df.소득 = df.소득//10000

In [46]:
df.head()

    행정구역    년도   소득
0     전국  2011  248
1  서울특별시  2011  292
2  부산광역시  2011  235
3  대구광역시  2011  216
4  인천광역시  2011  241

In [47]:
df.to_csv('../data/월평균_임금_handling.csv',encoding='utf-8')